<%- include("parts/header")%>
<%- include("parts/navbar")%>
<br>
<br>
<h1 class="header-right">Tired of coffee? Try Mate 🍵</h1>

<p class="header-right"> Have you been drinking coffee since forever? If you don't want to
    blacken your teeth and still have an amazing caffeinated drink then Yerba Mate is the way to go. </p>
<div class="header-right">
    <img id="header-img" src="https://i.pinimg.com/564x/eb/0f/39/eb0f397f236ae9964002157da870cd77.jpg"
        alt="tea-thumbnail">
    <style>
        .header-right {
            text-align: center;
        }
    </style>
</div>


<div class="container">

    <form action="/#bottomOfPage" method="GET">

        <select name="color" class="form-control">
            <option value="every">Every</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
            <option value="red">Red</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Filter">
    </form>

    <br>

    <% if (validationError) { %>
    <p class="alert alert-danger">
        <%= validationError.msg%>
    </p>
    <% } %>

    <% if(products.length !== 0) {%>
    <style>
        .yerbas {
            float: left;
            width: 200px;
            height: 200px;
        }
    </style>
    <div class="row">
        <a id="bottomOfPage"></a>
        <% for(let product of products) {%>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <img src="<%= product.image%>" class="card-img-top yerbas" alt="image of product">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/product/<%= product._id%>"><%= product.name%></a>
                        <p>Price: € <%= product.price%> </p>
                    </h5>
                    <form action="/basket" method="POST" class="add-to-cart-form">
                        <input type="number" name="amount" class="form-control">
                        <input type="hidden" name="name" class="form-control" value="<%= product.name%>">
                        <input type="hidden" name="price" class="form-control" value="<%= product.price%>">
                        <input type="hidden" name="productId" class="form-control" value="<%= product._id%>">
                        <input type="hidden" name="redirectTo" value="/">
                        <input type="submit" value="Add to basket" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <%}%>
        </div>
    <% } else { %>
        <div class="alert alert-danger">
            We are unfortunately out of yerba mates =(
        </div>
        <%}%>
    </div>

    <%- include("parts/footer")%>