<%- include("parts/header")%>
<%- include("parts/navbar")%>



<div class="container text-center">
    <br>
    <h3>Create an Account</h3>
    <br>
    <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <br>
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <br>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <br>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm your password">
        <br>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <% if (loginError) { %>
    <br>
    <p class="alert alert-danger">
        <%= loginError%>
    </p>
    <% } %>

    <% for (let error of validationErrors) { %>
    <br>
    <p class="alert alert-danger">
        <%= error.msg%>
    </p>
    <% } %>


    <br>
    <div>
        Have you already signed up? <a href="/login">Login Here</a>
    </div>
</div>



<%- include("parts/footer")%>